{% include "partials/head.html" %}

<body>

{% include "partials/navbar.html" %}

<div class="container-xxl">

{% include "partials/header.html" %}

<p>Als Masseurin und Trager Therapeutin taste ich mich mit meinen fühlenden Händen an den menschlichen Körper heran, um Entspannung, und Heilung zu ermöglichen. Ich geniesse den Kontakt zu meinen Kundinnen in einer persönlichen Atmosphäre und freue mich, wenn sie gelöst und gestärkt, mit einem Lächeln auf dem Gesicht, wieder in den Alltag hinaustreten.</p>

<ul class="list-group mb-2">

<li class="list-group-item">2024 — Trager Schule Schweiz: Trager Weiterbildung Dreidimensionales Verständnis</li>
<li class="list-group-item">2023 — Trager Schule Schweiz: Trager Weiterbildung Wissenschaft für Trager</li>
<li class="list-group-item">2023 — Trager Schule Schweiz: Trager Weiterbildung Trager und Pathologie</li>
<li class="list-group-item">2022 — Trager Schule Schweiz: Trager Weiterbildung Vertiefung der Trager Prinzipien</li>
<li class="list-group-item">2022 — Trager Schule Schweiz: Trager Weiterbildung Advanced Mentastics</li>
<li class="list-group-item">2022 — Trager Schule Schweiz: Trager Weiterbildung Alternativ Seitenlage</li>
<li class="list-group-item">2021 — Trager Schule Schweiz: Trager Weiterbildung Reflex Response II</li>
<li class="list-group-item">2020 — Schmerztherapie nach Liebscher & Bracht</li>
<li class="list-group-item">2020 — Trager Schule Schweiz: Trager Weiterbildung Reflex Response I</li>
<li class="list-group-item">2019 — Trager Schule Schweiz: Trager Psychophysische Integration, Mentastics Bewegungslehre</li>
<li class="list-group-item">2017 — Bénédict Schule – dipl. Gesundheitsmasseurin</li>
<li class="list-group-item">2014 — Massage Fachschule – Gesundheitsmasseurin, Fussreflexzonenmassage</li>
<!-- Todo: make this a dropdown -->
<li class="list-group-item">
  2004 — 2025 zahlreiche Workshops, Seminare in Themen:
  <ul class="list-group">
    <li class="list-group-item">Fusspflege</li>
    <li class="list-group-item">Nails</li>
    <li class="list-group-item">Kosmetik</li>
    <li class="list-group-item">
      Medizinische Kosmetik:
      <ul class="list-group">
        <li class="list-group-item">Couperose</li>
        <li class="list-group-item">Micro Dermabrasion</li>
        <li class="list-group-item">Mikroneedling</li>
        <li class="list-group-item">Säurebehandlungen</li>
      </ul>
    </li>
    <li class="list-group-item">Apparative Kosmetik</li>
    <li class="list-group-item">Körperbehandlungen</li>
  </ul>
</li>
<li class="list-group-item">2004 — Maria Schweizer Fachschule für Kosmetik und Nail Design – Nail Designerin</li>
<li class="list-group-item">2002 — Maria Schweizer Fachschule für Kosmetik und Nail Design – Kosmetikerin</li>

</ul>

{% include "partials/footer.html" %}

</div>

</body>

