#footer {
  background-image:
    linear-gradient(
      to right,
      var(--trager-color),
      var(--massage-color),
      var(--kosmetik-color)
    );
  display: flex;
  justify-content: space-evenly;
  /*gap: 3rem;*/
  padding: 2em 6em;
}

#footer * {
  font-size: 1.25rem;
  font-style: normal;
  color: var(--light-text-color);
}

#footer > div {
  display: flex;
  flex-direction: column;
}

#footer a {
  display: block;
  text-decoration: underline;
  color: var(--light-text-color);
}

#footer h2 {
  font-size: 1.6rem;
}
