:not(head, html, style, script, svg, path, li) {
  display: flow-root;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Quicksand";
  src: url('../fonts/Quicksand-VariableFont_wght.ttf') format("truetype");
}

@font-face {
  font-family: "Monotype Corsiva";
  src: url('../fonts/Monotype_Corsiva.TTF') format("truetype");
}

:root {
  font: 1em "Quicksand", sans-serif;
  scroll-behavior: smooth;
  --kosmetik-color: #d9939b;
  --massage-color: #e2725b;
  --trager-color: #003f61;
  --bg-color: wheat;
  --dark-text-color: #4b4437;
  --light-text-color: var(--bg-color);
  --transition: all .4s;
  color: var(--dark-text-color);
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
  display: inline;
}

/* :where() removes specificity */
:where(a:is(:not(:visited), :visited)) {
  color: var(--dark-text-color);
}

li {
  list-style-position: inside;
}

q::before {
  content: '«';
}

q::after {
  content: '»';
}
