/* TODO: rework everything with SCSS */
:not(head, html, style, script, svg, path, li) {
  display: flow-root;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Quicksand";
  src: url('../fonts/Quicksand-VariableFont_wght.ttf') format("truetype");
}

@font-face {
  font-family: "Monotype Corsiva";
  src: url('../fonts/Monotype_Corsiva.TTF') format("truetype");
}

:root {
  font: 1rem "Quicksand", sans-serif;
  scroll-behavior: smooth;
  overflow-y: auto;
  scroll-padding-top: 1.875rem;
  --kosmetik-color: #d9939b;
  --massage-color: #e2725b;
  --trager-color: #003f61;
  --bg-color: wheat;
  --dark-text-color: #4b4437;
  --light-text-color: var(--bg-color);
  --transition: all .4s;
  color: var(--dark-text-color);
}

::selection, ::-moz-selection {
  background-color: var(--dark-text-color);
  color: var(--light-text-color);
}

body {
  position: relative;
  background-color: var(--bg-color);
  min-height: 100vh;
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
  display: inline;
}

:where(a:is(:not(:visited), :visited)) {
  color: var(--dark-text-color);
}

li {
  list-style-position: inside;
}

q::before {
  content: '«';
}

q::after {
  content: '»';
}

#szm-logo {
  position: absolute;
  top: 0px;
  left: 0px;
  color: var(--bg-color);
  font: 5rem "Monotype Corsiva", serif;
  width: 240px;
  display: flex;
  justify-content: space-around;
  z-index: 999;
}

#szm-logo > div {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}
