.three-color-section {
  --gap: 55px;
  height: 700px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0 var(--gap) 50px var(--gap);
  background-image: linear-gradient(to right, var(--trager-blue) 0% 33.33%, var(--coral) 33.33% 66.66%, var(--medium-purple) 66.66% 100%);
}

.showcase {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  gap: calc(var(--gap) * 2);
}

.card {
  cursor: pointer;
  position: relative;
  width: calc(100% / 3);
  padding: 0 40px;
  transform-style: preserve-3d;
}

.card * {
  transform-style: preserve-3d;
}

.card-front, .card-back {
  border-radius: 60px;
  position: absolute;
  inset: 0;
  transition: all 1s;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(0deg);
  padding: 40px 60px 60px 60px;
}

.card-back {
  transform: rotateY(-180deg);
  padding: 60px;
}

.card-front *, .card-back * {
  transform: translateZ(60px);
}

.card:is(:hover, :focus) .card-front {
  transform: rotateY(180deg);
}

.card:is(:hover, :focus) .card-back {
  transform: rotateY(0deg);
}

.card .card-front {
  background-color: var(--wheat);
}

.card-1 .card-back {
  background-color: var(--trager-blue);
  color: var(--wheat);
}

.card-2 .card-back {
  background-color: var(--coral);
}

.card-3 .card-back {
  background-color: var(--medium-purple);
}

.card .card-front::before {
  content: '';
  position: absolute;
  inset: 20px;
  border: 1px solid;
  border-radius: 40px;
  transform: translateZ(30px);
}

.card .card-back::before {
  border-color: var(--wheat);
}

.card .card-front::before {
  border-color: #000;
}

hr {
  border: 1px solid;
}

.card-1 hr {
  border-color: var(--trager-blue);
}

.card-2 hr {
  border-color: var(--coral);
}

.card-3 hr {
  border-color: var(--medium-purple);
}

.card h1 {
  text-align: center;
  font-size: 3rem;
}
