.three-color-section {
  --gap: 55px;
  height: 700px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 80px var(--gap) 0px var(--gap);
  background-image:
    linear-gradient(
      to right,
      var(--trager-color) 0% 33.33%,
      var(--massage-color) 33.33% 66.66%,
      var(--kosmetik-color) 66.66% 100%
    );
}

.showcase {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  gap: calc(var(--gap) * 2);
}

.card {
  position: relative;
  width: calc(100% / 3);
  padding: 0 40px;
  transform-style: preserve-3d;
}

.card * {
  transform-style: preserve-3d;
}

.card-front, .card-back {
  position: absolute;
  inset: 0;
  transition: all 1s;
  backface-visibility: hidden;
}

.card-front {
  border-radius: 60px;
  transform: rotateY(0deg);
  padding: 40px 60px 60px 60px;
}

.card-back {
  /*border: 1px solid #000;*/
  transform: rotateY(-180deg);
  border-radius: 0;
}

.card-front *, .card-back * {
  transform: translateZ(50px);
}

.card .card-front button {
  font: 1.5em "Quicksand", sans-serif;
  margin: 100% auto 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background-color: var(--dark-text-color);
  color: var(--light-text-color);
  border: none;
  transform: translateZ(100px);
  text-decoration: underline;
}

.card .card-back ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}

#trager-card .card-back ul {
  justify-content: space-evenly;
}

.card .card-back li {
  list-style-type: none;
  border-radius: 50px;
}

.card .card-back a {
  font-size: 2rem;
  text-decoration-line: underline;
  text-decoration-color: var(--bg-color);
}

.card.turned .card-front {
  transform: rotateY(180deg);
}

.card.turned .card-back {
  transform: rotateY(0deg);
}

#trager-card .card-back {
  background-color: var(--trager-color);
  color: var(--light-text-color);
}

#trager-card .card-back * {
  color: var(--light-text-color);
}

#massage-card .card-back {
  background-color: var(--massage-color);
}

#kosmetik-card .card-back {
  background-color: var(--kosmetik-color);
}

.card .card-front::before {
  content: '';
  position: absolute;
  inset: 20px;
  border-radius: 40px;
  background-color: var(--bg-color);
  transform: translateZ(50px);
}

hr {
  border: 1px solid;
}

#trager-card hr {
  border-color: var(--trager-color);
}

#massage-card hr {
  border-color: var(--massage-color);
}

#kosmetik-card hr {
  border-color: var(--kosmetik-color);
}

.card h1 {
  text-align: center;
  font-size: 3rem;
  transform: translateZ(100px);
}

#trager-card .card-front {
  background-image:
    conic-gradient(
      var(--bg-color) 0deg 20deg,
      var(--trager-color) 35deg 45deg,
      var(--bg-color) 60deg 120deg,
      var(--trager-color) 135deg 145deg,
      var(--bg-color) 160deg 200deg,
      var(--trager-color) 215deg 225deg,
      var(--bg-color) 240deg 300deg,
      var(--trager-color) 315deg 325deg,
      var(--bg-color) 340deg 360deg
    );
}

#massage-card .card-front {
  background-image:
    conic-gradient(
      var(--bg-color) 0deg 20deg,
      var(--massage-color) 35deg 45deg,
      var(--bg-color) 60deg 120deg,
      var(--massage-color) 135deg 145deg,
      var(--bg-color) 160deg 200deg,
      var(--massage-color) 215deg 225deg,
      var(--bg-color) 240deg 300deg,
      var(--massage-color) 315deg 325deg,
      var(--bg-color) 340deg 360deg
    );
}

#kosmetik-card .card-front {
  background-image:
    conic-gradient(
      var(--bg-color) 0deg 20deg,
      var(--kosmetik-color) 35deg 45deg,
      var(--bg-color) 60deg 120deg,
      var(--kosmetik-color) 135deg 145deg,
      var(--bg-color) 160deg 200deg,
      var(--kosmetik-color) 215deg 225deg,
      var(--bg-color) 240deg 300deg,
      var(--kosmetik-color) 315deg 325deg,
      var(--bg-color) 340deg 360deg
    );
}
