.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
  padding: 1.875rem;
  background-color: var(--kosmetik-color);
}

.cell {
  padding: 1.875em;
  border-radius: 2.5em;
  background-color: var(--bg-color);
}

.curve {
  height: 100vh;
  width: 100%;
}

#curve {
  fill: var(--kosmetik-color);
}
