#nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  --nav-width: 180px;
  --border-radius: 28px 0 0 28px;
  --link-font-size: 1.5rem;
  --offset: 50px;
}

#nav > ul {
  background-color: coral;
  min-width: var(--nav-width);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(calc(var(--nav-width) - var(--offset)));
  transition: var(--transition);
  border-radius: var(--border-radius);
}

#nav li {
  display: flow-root;
}

#nav:is(:hover, :focus) > ul {
  transform: translateX(0);
  transition: var(--transition);
}

#nav a {
  text-decoration: none;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition);
  padding: 0.5em;
  font-size: var(--link-font-size);
}

#nav a:hover {
  background-color: white;
  transition: var(--transition);
}

.current-page {
  background-color: white;
}
