#nav {
  /*border: 1px solid #000;*/
  position: fixed;
  top: 0;
  right: 0;
  background-image: linear-gradient(to bottom, var(--bg-color) 50%, transparent);
  font-size: 1.25rem;
  width: 180px;
  height: 100%;
  transform: translateX(180px);
  transition: var(--transition);
  z-index: 999;
}

#nav li {
  display: flow-root;
  cursor: pointer;
}

#nav :where(a) {
  color: var(--dark-text-color);
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition);
  padding: 0.5em;
  font-size: 1.5rem;
}

#nav.open {
  transform: translateX(0);
  transition: var(--transition);
}

#menu-icon {
  display: block;
  position: fixed;
  top: 10px;
  right: 12px;
  z-index: 999;
  cursor: pointer;
}

#close-container {
  width: 100%;
  padding-top: 0.5em;
  padding-right: 0.5em;
  display: flex;
  justify-content: end;
}

#close-nav {
  cursor: pointer;
}

#trager-link {
  background-color: var(--trager-color);
}

#trager-link {
  color: var(--bg-color);
}

#trager-link path {
  fill: var(--bg-color);
}

#massage-link {
  background-color: var(--massage-color);
}

#massage-link {
  color: var(--bg-color);
}

#massage-link path {
  fill: var(--bg-color)
}

#kosmetik-link {
  background-color: var(--kosmetik-color);
}

#kosmetik-link {
  color: var(--bg-color);
}

#kosmetik-link :is(path, rect, polygon) {
  fill: var(--bg-color)
}
