b, i {
  display: inline;
}

.flex {
  display: flex;
  background-color: var(--trager-color);
  gap: 1.875em;
  padding: 1.875em;
  color: var(--light-text-color);
}

.cell {
  padding: 1.875em;
  border-radius: 2.5em;
  border: 1px solid var(--light-text-color);
}

.curve {
  height: 100vh;
  width: 100%;
}

#curve {
  fill: var(--trager-color);
}
