// TODO: media queries
#menu-icon {
  background-color: var(--bg-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 12px;
  z-index: 999;
  cursor: pointer;
}

nav {
  //border: 1px solid #000;
  position: fixed;
  top: 0;
  right: 0;
  // background-image: linear-gradient(to bottom, var(--bg-color) 50%, transparent);
  background-color: var(--bg-color);
  font-size: 1.25rem;
  width: 180px;
  // height: 100%;
  transform: translateX(180px);
  transition: var(--transition);
  z-index: 999;

  li {
    display: flow-root;
    cursor: pointer;
  }

  :where(a) {
    color: var(--dark-text-color);
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition);
    padding: 0.5em;
    font-size: 1.5rem;
  }

  &.open {
    transform: translateX(0);
    transition: var(--transition);
  }

  #close-container {
    width: 100%;
    padding-top: 0.5em;
    padding-right: 0.5em;
    display: flex;
    justify-content: end;
  }

  #close-nav {
    cursor: pointer;
  }

  #trager-link {
    background-color: var(--trager-color);
    color: var(--bg-color);

    path {
      fill: var(--bg-color);
    }
  }

  #massage-link {
    background-color: var(--massage-color);
    color: var(--bg-color);

    path {
      fill: var(--bg-color)
    }
  }

  #kosmetik-link {
    background-color: var(--kosmetik-color);
    color: var(--bg-color);

    :is(path, rect, polygon) {
      fill: var(--bg-color)
    }
  }
}
